/*-- scss:defaults --*/

/* Import font families. */
@import "_fonts.scss";

/* Set MIT color scheme */
$colors-arcus: (
  // Core Palette
  dark-blue: #002B5C,
  light-blue: #0057B8,
  teal: #0097A9,
  orange: #F15A22,
  yellow: #FFC72C,
  white: #FFFFFF,
  black: #000000
);

/*------------------------------------------------------ */
/*------------------------ NAVBAR ---------------------- */
/*------------------------------------------------------ */

a.nav-link {
  color: map-get($colors-arcus, dark-blue) !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: 15px !important;
  /*height: 26px !important;*/
  letter-spacing: -0.304px !important;
  line-height: 26px !important;
  list-style-image: none !important;
  list-style-position: outside !important;
  list-style-type: none !important;
  outline-color: rgb(41, 45, 108) !important;
  outline-style: none !important;
  outline-width: 0px !important;
  text-align: left !important;
  text-decoration: none !important;
  text-decoration-line: none !important;
  transition-delay: 0s !important;
  transition-duration: 0.3s !important;
  transition-property: all !important;
  transition-timing-function: ease-in-out !important;
  white-space-collapse: collapse !important;
  /*width: 94.90625px !important;*/
  -webkit-box-direction: normal !important;
  -webkit-font-smoothing: antialiased !important;
}

a.nav-link.active, a.nav-link:hover {
  border-bottom-color: map-get($colors-arcus, orange) !important;
  border-bottom-width: 5px !important;
}


/*------------------------------------------------------ */
/*------------------------ GENERAL  -------------------- */
/*------------------------------------------------------ */
