/*-- scss:defaults --*/

/* Import font families. */
@import "_fonts.scss";

/* Set MIT color scheme */
$colors-arcus: (
  // Core Palette
  dark-blue: #002B5C,
  light-blue: #0057B8,
  light-gray: #abb8c3,
  teal: #0097A9,
  orange: #ffad12,
  yellow: #FFC72C,
  dark-yellow: #ffd35d,
  white: #FFFFFF,
  black: #000000
);

/*------------------------------------------------------ */
/*------------------------ NAVBAR ---------------------- */
/*------------------------------------------------------ */

.navbar {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.2) !important;
}

a.nav-link {
  color: map-get($colors-arcus, dark-blue) !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: 15px !important;
  /*height: 26px !important;*/
  letter-spacing: -0.304px !important;
  line-height: 26px !important;
  list-style-image: none !important;
  list-style-position: outside !important;
  list-style-type: none !important;
  outline-color: rgb(41, 45, 108) !important;
  outline-style: none !important;
  outline-width: 0px !important;
  text-align: left !important;
  text-decoration: none !important;
  text-decoration-line: none !important;
  transition-delay: 0s !important;
  transition-duration: 0.3s !important;
  transition-property: all !important;
  transition-timing-function: ease-in-out !important;
  white-space-collapse: collapse !important;
  /*width: 94.90625px !important;*/
  -webkit-box-direction: normal !important;
  -webkit-font-smoothing: antialiased !important;
}

a.nav-link.active, a.nav-link:hover {
  border-bottom-color: map-get($colors-arcus, orange) !important;
  border-bottom-width: 5px !important;
}

/*------------------------------------------------------ */
/*------------------------ BUTTONS  -------------------- */
/*------------------------------------------------------ */


.btn.btn-default.action-button {
  /*color: white !important;*/
}

/*------------------------------------------------------ */
/*------------------------ SIDEBAR  -------------------- */
/*------------------------------------------------------ */

.sidebar {
  /*background-color: map-get($colors-arcus, light-gray) !important;*/
  background-image: url('/www/imgs/molecules.svg') !important;
  background-repeat: repeat !important;
  background-size: 100% 100% !important;
}

.sidebar .btn {
  border-width: 2px !important;
  border-color: map-get($colors-arcus, dark-blue) !important;
  color: map-get($colors-arcus, dark-blue) !important;
  background-color: map-get($colors-arcus, orange) !important;
}

.sidebar .btn:hover {
  /*color: map-get($colors-arcus, orange) !important;*/
  border-color: map-get($colors-arcus, orange) !important;
  /*background-color: map-get($colors-arcus, dark-blue) !important;*/
  transition-delay: 0s !important;
  transition-duration: 0.3s !important;
  transition-property: all !important;
  transition-timing-function: ease-in-out !important;
}

/*------------------------------------------------------ */
/*---------------------- BACKGROUND  ------------------- */
/*------------------------------------------------------ */


.main.bslib-gap-spacing.html-fill-container {
  background-image: url('/www/imgs/cells.png') !important;
  /*background-image: url('/www/blue-cells-poster.jpg') !important;*/
  background-repeat: repeat !important;
  background-size: 100% 100% !important;
}


/*------------------------------------------------------ */
/*--------------------------- DT  ---------------------- */
/*------------------------------------------------------ */

li.previous a {
  color: map-get($colors-arcus, dark-blue) !important;
}

/* Change text color of disabled "Previous" */
.paginate_button.disabled .page-link {
    color: gray !important;
}


.dataTable {
  font-family: Poppins !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  letter-spacing: -0.304px !important;
  line-height: 26px !important;
}

/* Change header text color */
.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_length label,
.dataTable thead th {
  text-transform: uppercase !important;
  color: map-get($colors-arcus, dark-blue) !important;
}

/* Change body text color */
.dataTable tbody td {
  color: map-get($colors-arcus, dark-blue) !important;
}


table.dataTable > tbody > tr.selected:hover > * {
  color: white !important;
}

table.dataTable > tbody > tr.selected >* {
  color: white !important;
}

/* Add top and bottom border to each row */
.dataTable tbody td {
    border-bottom: 0.5px solid  map-get($colors-arcus, light-gray) !important;
}

/* Optional: Make header and footer stand out */
.dataTable thead th, .dataTable tfoot th {
    border-bottom: 2px solid map-get($colors-arcus, light-gray) !important;
}

.datatables .dataTables_wrapper .dataTables_length select, 
.datatables .dataTables_wrapper .dataTables_filter input {
  border-bottom-color: map-get($colors-arcus, light-gray) !important;
}

/*------------------------------------------------------ */
/*------------------------ BSICONS  -------------------- */
/*------------------------------------------------------ */

.value-box-widget {
  color: map-get($colors-arcus, orange) !important;
  background-color: white !important;
  border-color: map-get($colors-arcus, darl-blue) !important;
}

